<p>
  update works!
</p>
<div>
  <h2></h2>
  <form>
      <div class="form-group">
          <label for="date-input">Log in date:</label>
          <input type="datetime-local" id="date-input" name="date-input" [(ngModel)]="loggingInfo.date" class="form-control" 
         />
      </div>
      <div class="form-group">
          <label for="distance-input">Distance (m)</label>
          <input type="number" id="distance-input" name="distance-input" [(ngModel)]="loggingInfo.distanceInMeters" class="form-control" />
      </div>
      <div class="form-group">
          <label for="time-input">Time (s)</label>
          <input type="number" id="time-input" name="time-input" [(ngModel)]="loggingInfo.timeInSeconds" 
          (input)="loggingInfo.timeInSeconds = $event.target.value" class="form-control" />
      </div>
      <button type="button" class="btn btn-primary" (click)="addOrUpdateLoggingRecord($event);">Save</button>

      <h2 *ngIf="!loggingInfo || loggingInfo.id === undefined">Add record</h2>
      
      <h2 *ngIf="loggingInfo && loggingInfo.id !== undefined">Update record (ID: )</h2>

  </form>
 </div>