<p>
  home works!
</p>

<div class="row">
  <div class="col-md-4">
   <!-- // main form  -->
      <app-update (loggingCreated)="createOrUpdateLogging($event)" [loggingInfo]="currentLogging"></app-update>
  </div>

  <div class="col-md-8">
      <!-- <app-edit [loggingData]="loggingData" (editClicked)="editClicked($event)" (newClicked)="editClicked($event)" (recordDeleted)="deleteClicked($event)"></app-edit> -->

      <!-- <app-edit [loggingData]="loggingData"></app-edit> -->

      <app-edit [loggingData]="loggingData" (editClicked)="editClicked($event)" (newClicked)="newClicked()" (recordDeleted)="deleteClicked($event)"></app-edit>

  </div>
</div>
